a:link, a:visited {
    color: #e69f90;
    text-decoration: none;
}

a:hover, a:active {
    color: #e69f90;
    text-decoration: underline;
}

html, body {
    background-color: #211f25;
    text-align: center;
    word-wrap: break-word;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Menlo","Monaco","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier","New","monospace","serif";
    image-rendering: -webkit-optimize-contrast;
}

p, ul, li {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
}

ul {
    list-style-type: square;
}

li {
    list-style-position: inside;
}

.logo {
    width: 300px;
    background: #302d34;
border-style: solid;
border-color: #3f3e46;
box-shadow: 0px 0px 5px black;
}


.row {
    display: flex;
    place-items: center center;
}

.col-top {
    padding: 2em;
    min-width: 404px;
}

.col {
    padding: 2em;
    
}
