@font-face {
    font-family: 'OpenSansPX';
    src: url('fonts/OpenSansPX.ttf'); 
}

 /* unvisited link */
a:link {
    color: hotpink;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: hotpink;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: hotpink;
    text-decoration: underline;
} 

a.current:link, a.current:visited {
  color: hotpink;
} 

html, body {
    font-family: "courier new", monospace;
    background-color: black;
    text-align: center;
    word-wrap: break-word;    
    max-width: 50em;
    margin: auto;
}


h1 {
    font-size: 55px;
    line-height: 1.4;
    color: #CB475A;
    text-align: center;
}

p, ul, li {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}

img.logo {
    width: 250px;
    background: #FF699B;
  box-shadow: 5px 5px #de3c71, 10px 10px #c9298c, 15px 15px #47054f;

}

.row {
    display: flex;
}

.col {
    padding: 2em;
}
