@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf'); 
}

 /* unvisited link */
a:link {
    color: #de3c71;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #de3c71;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #de3c71;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #de3c71;
    text-decoration: underline;
} 

a.current:link, a.current:visited {
    color: #de3c71;
} 

html, body {
    background-color: black;
    text-align: center;
    word-wrap: break-word;    
    max-width: 52em;
    margin: auto;
    font-family: 'Press Start 2P';
}


h1 {
    font-size: 55px;
    line-height: 1.0;
    color: #de3c71;
    text-align: center;
}

p, ul, li {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}

ul {
    list-style-type: square;
}

li {
    list-style-position: inside;
}

img.logo {
    padding: 0px;
    width: 300px;
    background: #de3c71;
    box-shadow: 5px 5px #de3c71, 10px 10px #de3c71, 15px 15px #de3c71;
}

.row {
    display: flex;
}

.col {
    padding: 2em;
}
